@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: hidden;
}

.q-tab__label {
  font-size: 22px;
}

.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.q-timeline {
  &__dot {
    margin: -8px 0px;
  }

  &__title {
    margin-top: 8px;
  }

  &__subtitle {
    display: none;
  }

  &__content {
    padding-right: 10px;
    margin-right: 10px;
  }

  .content {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: $primary;
  }
}

.q-parallax__media {
  opacity: 0.5;
}

.q-drawer__opener {
  display: none;
}

.rounded-lamination-picker {
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

:root {
  --animate-duration: 3s;
}

.header-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 82px;
  background: linear-gradient(
    90deg,
    rgba(239, 239, 239, 1) 0%,
    rgba(243, 243, 243, 1) 65%,
    rgba(207, 28, 57, 1) 65%,
    rgba(207, 28, 57, 1) 100%
  );
}

.q-toolbar {
  max-width: 1250px;
  height: 100%;
}

.container {
  max-width: 1250px;
  margin: auto;
}

.tabs-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: $primary;
  border-top-left-radius: 82px;
  padding-left: 82px;

  .q-tabs {
    padding: 15px 0;
    height: 100%;
  }
  .q-tab__label {
    font-size: 16px;
  }
}

.red-bg {
  background-color: $primary;
  width: 30vw;
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;

  &__text {
    width: 50%;
    height: 100%;

    &-title {
      font-weight: 800;
      font-style: Bold;
    }

    &-title:nth-child(2) {
      color: $primary;
    }

    p {
      font-weight: 600;
      font-style: bold;
      font-size: 16px;
    }

    &-list {
      padding-left: 0;
      font-weight: 600;
      font-style: italic;
      font-size: 16px;
      list-style: none;
      text-decoration: none;

      li {
        margin-top: 10px;
        transition: transform 0.3s ease;
      }

      // li:hover {
      //   animation: bounce 1s ease;
      // }

      // @keyframes bounce {
      //   0% {
      //     transform: scale(1);
      //   }
      //   50% {
      //     transform: scale(1.1);
      //   }
      //   100% {
      //     transform: scale(1);
      //   }
      // }
    }

    &-btn {
      margin-top: 30px;
      border: 2px solid $primary;
      background-color: white;
      font-weight: 700;
      font-size: 16px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 15px 30px;
    }

    &-btn:hover {
      color: white;
      background-color: $primary;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      cursor: pointer;
    }
  }

  &__content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background: url(".././assets/home_frame.svg") no-repeat center;
      background-size: 80%;

      .q-carousel {
        height: 60%;
        width: 80%;
      }
    }
  }
}

.products {
  height: 100%;
  width: 100%;
  display: flex;

  &__title {
    margin-top: 10px;
    color: #000;
    font-weight: 800;
    font-style: Bold;
  }

  .q-carousel__prev-arrow,
  .q-carousel__next-arrow {
    button {
      color: $primary;
      border-radius: 0;
      width: 55px;
      height: 50px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .q-btn:hover {
      background-color: $primary !important;
      color: white;
      cursor: pointer;
      border-radius: 0;
      width: 55px;
      height: 50px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}

.quality {
  height: 100%;
  width: 100%;

  &__title {
    margin-top: 10px;
    color: #fff;
    font-weight: 800;
    font-style: Bold;
  }

  .q-carousel__prev-arrow,
  .q-carousel__next-arrow {
    button {
      border-radius: 0;
      width: 55px;
      height: 50px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .q-btn:hover {
      background-color: #fff !important;
      color: $primary;
      cursor: pointer;
      border-radius: 0;
      width: 55px;
      height: 50px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}

.colored {
  background-color: #202020;

  &__title {
    font-weight: 800;
    font-style: Bold;
    color: #fff;
    margin-top: 10px;
  }
}

.services {
  margin: auto;

  &__title {
    display: flex;
    font-weight: 800;
    font-style: Bold;
    margin-bottom: 20px;

    &--border {
      height: 2px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 20%,
        rgba(207, 28, 57, 1) 20%,
        rgba(207, 28, 57, 1) 80%,
        rgba(255, 255, 255, 1) 80%
      );
    }
  }
}

.footer {
  height: 200px;
  width: 100vw;
  background-color: #202020;
  .q-icon {
    transition: transform 0.3s ease;
  }

  .q-icon:hover {
    color: $primary;
    cursor: pointer;
    animation: bounce 1s ease;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}

.customText {
  .q-field__native {
    color: white;
  }

  .q-icon {
    color: white;
  }
}
