@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Ubuntu+Condensed:wght@300;400;500;600&display=swap");
* {
  font-family: "Ubuntu Condensed", "Montserrat", sans-serif;
}

html {
  overflow: hidden;
}

.q-tab__label {
  font-size: 22px;
}

.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.q-timeline__dot {
  margin: 0 10px;
}

.q-timeline__title {
  margin-top: 8px;
}

.q-timeline__subtitle {
  display: none;
}

.q-timeline__content {
  padding-right: 10px;
  margin-right: 10px;
}

.q-parallax__media {
  opacity: 0.5;
}

.q-drawer__opener {
  display: none;
}

.image-container {
  position: relative;
}

.image-container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded-lamination-picker {
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

:root {
  --animate-duration: 3s;
}

.header-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 82px;
  background: linear-gradient(
    90deg,
    rgba(239, 239, 239, 1) 0%,
    rgba(243, 243, 243, 1) 65%,
    rgba(207, 28, 57, 1) 65%,
    rgba(207, 28, 57, 1) 100%
  );
}

.q-toolbar {
  max-width: 1250px;
  height: 100%;
}

.container {
  max-width: 1250px;
  margin: auto;
}

.tabs-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(207, 28, 57);
  border-top-left-radius: 82px;
  padding-left: 82px;
}

.q-tabs {
  padding: 5px 0;
  height: 100%;
}

.red-bg {
  background-color: rgb(207, 28, 57);
  width: 30vw;
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;

  &__text {
    width: 50%;
    height: 100%;

    &-title {
      font-weight: 600;
      font-family: "Ubuntu Condensed", sans-serif;
      font-size: 50px;
    }

    &-title:nth-child(2) {
      color: $primary;
    }

    &-list {
      padding-left: 0;
      font-style: italic;
      font-size: 20px;
      list-style: none;
      text-decoration: none;

      li {
        margin-top: 10px;
        transition: transform 0.3s ease;
      }

      li:hover {
        animation: bounce 1s ease;
      }

      @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    &-btn {
      margin-top: 30px;
      border: 2px solid $primary;
      background-color: white;
      font-size: 22px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 10px 30px;
    }

    &-btn:hover {
      color: white;
      background-color: $primary;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      cursor: pointer;
    }
  }

  &__content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background: url(".././assets/home_frame.svg") no-repeat center;
      background-size: 80%;

      .q-carousel {
        height: 60%;
        width: 80%;
      }
    }
  }
}

.products {
  height: 100%;
  width: 100%;
  display: flex;
}
.colored {
  background-image: url("../assets/bg.png");
  background-size: contain;
}

.footer {
  height: 250px;
  width: 100vw;

  .q-icon {
    transition: transform 0.3s ease;
  }

  .q-icon:hover {
    color: $primary;
    cursor: pointer;
    animation: bounce 1s ease;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}

.customText {
  .q-field__native {
    color: white;
  }

  .q-icon {
    color: white;
  }
}
