@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Ubuntu+Condensed:wght@300;400;500;600&display=swap");
* {
  font-family: "Ubuntu Condensed", "Montserrat", sans-serif;
}

html {
  overflow: hidden;
}

.q-tab__label {
  font-size: 22px;
}

.scroll-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.q-timeline__dot {
  margin: 0 10px;
}

.q-timeline__title {
  margin-top: 8px;
}

.q-timeline__subtitle {
  display: none;
}

.q-timeline__content {
  padding-right: 10px;
  margin-right: 10px;
}

.q-parallax__media {
  opacity: 0.5;
}

.q-drawer__opener {
  display: none;
}

.image-container {
  position: relative;
}

.image-container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded-lamination-picker {
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

:root {
  --animate-duration: 3s;
}
